/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name: dominion (dark variations) 
	Original Author: RocketTheme, LLC (C) Copyright. All rights reserved.     		
    --------------------------------------------------------------
*/

li.header dt, li.header dd,#page-body li.header dt a,#page-body li.header dt a:visited {
color: #666666;
}

li.row {
    border-bottom: 1px solid #E5E5E5;
}

li.row:hover {
    background-color: #FBFBFB;
}

.bg1 {background-color: #EAEAEA;}
.bg2 {background-color: #F2F2F2;}

.cp-mini { 
background-color: #EAEAEA;
}

#simple-wrap .panel,.cp-mini {
    background-color: #EAEAEA;
}
#simple-wrap  tr.bg1 {
     background-color: #EAEAEA;
}

#simple-wrap  tr.bg2 {
     background-color: #EAEAEA;
}
table.table1 tbody tr.bg2,table1 tbody tr.bg2:hover {
     background-color: #EAEAEA;
}
table.table1 tbody tr.bg1,table1 tbody tr.bg1:hover {
     background-color: #EAEAEA;
}

.panel {
background-color:#F3F3F3;
}