	</div>

<div id="page-footer">

	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="linklist">
			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
				<!-- IF not S_IS_BOT -->
					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
			<li class="rightside"><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	
<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->

	<div class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a> &copy; 2000, 2002, 2005, 2007 phpBB Group
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
	</div>
</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<div class="clear"></div>
         
</div>
</div>
</div>
</div>

<!-- DEFINE $UNANSWERED_POST = '{L_SEARCH_UNANSWERED}' -->            
<!-- DEFINE $NEW_POST = '{L_SEARCH_NEW}' -->
<!-- DEFINE $ACTIVE_POST = '{L_SEARCH_ACTIVE_TOPICS}' -->
<!-- DEFINE $MY_POST = '{L_SEARCH_SELF}' -->
<!-- DEFINE $SEARCH = '{L_SEARCH}' -->

<!-- IF $QUASAR_MENUPOSITION == right or $QUASAR_MENUPOSITION == left -->
    <div class="rt-grid-4 <!-- IF $QUASAR_MENUPOSITION == left -->rt-pull-8 <!-- ENDIF -->">
        <div id="rt-sidebar-a"> 
            <div class="rt-block">
			    <div class="module-surround">
				    <div class="module-title"><h2 class="title">{L_SEARCH} / {L_MARK}</h2></div>
					<div class="module-content">
					    <!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
						    <ul class="menu">
							    <!-- IF S_DISPLAY_SEARCH -->
								    <li class="parent<!-- IF PAGE_TITLE eq $UNANSWERED_POST --> active<!-- ENDIF -->"><a href="{U_SEARCH_UNANSWERED}" ><span>{L_SEARCH_UNANSWERED}</span></a></li><!-- IF S_USER_LOGGED_IN -->
		                            <li class="parent<!-- IF PAGE_TITLE eq $NEW_POST --> active<!-- ENDIF -->"><a href="{U_SEARCH_NEW}" ><span>{L_SEARCH_NEW}</span></a></li><!-- ENDIF -->
		                            <li class="parent<!-- IF PAGE_TITLE eq $ACTIVE_POST --> active<!-- ENDIF -->"><a href="{U_SEARCH_ACTIVE_TOPICS}" ><span>{L_SEARCH_ACTIVE_TOPICS}</span></a></li>
	                            <!-- ENDIF -->
	                            <li<!-- IF PAGE_TITLE eq $MY_POST --> class="active"<!-- ENDIF -->><a href="{U_SEARCH_SELF}" ><span>{L_SEARCH_SELF}</span></a></li>
	                            <li<!-- IF PAGE_TITLE eq $SEARCH --> class="active"<!-- ENDIF -->><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}" ><span>{L_SEARCH_ADV}</span></a></li>
	                            <!-- IF not S_IS_BOT and U_MARK_FORUMS --><li><a href="{U_MARK_FORUMS}" accesskey="m" ><span>{L_MARK_FORUMS_READ}</span></a></li><!-- ENDIF -->
							</ul>
						<!-- ENDIF -->
					</div>
				</div>
			</div>
			<!-- IF $S_SHOW_QUASARUSER -->
			    <div class="rt-block"> 
				<div class="module-surround">
				    <div class="module-title"><h2 class="title">{L_PROFILE}</h2></div>
					    <div class="module-content">
						    <ul class="menu">
							    <!-- IF U_MCP --><li<!-- IF SCRIPT_NAME eq 'mcp' --> class="active"<!-- ENDIF -->><a href="{U_MCP}" ><span>{L_MCP}</span></a></li><!-- ENDIF -->
								<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
								    <li<!-- IF SCRIPT_NAME eq 'ucp' --> class="active"<!-- ENDIF -->><a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="u" ><span>{L_PROFILE}</span></a></li>
						            <!-- IF S_DISPLAY_PM --><li><a href="{U_PRIVATEMSGS}" ><span>{PRIVATE_MESSAGE_INFO}</span></a></li><!-- ENDIF -->
									<!-- IF U_RESTORE_PERMISSIONS --><li ><a href="{U_RESTORE_PERMISSIONS}" ><span>{L_RESTORE_PERMISSIONS}</span></a></li><!-- ENDIF -->
								<!-- ENDIF -->
								<li <!-- IF SCRIPT_NAME eq 'faq' -->class="active"<!-- ENDIF -->><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}" ><span>{L_FAQ}</span></a></li>
								<!-- IF not S_IS_BOT -->
								    <!-- IF S_DISPLAY_MEMBERLIST --><li<!-- IF SCRIPT_NAME eq 'memberlist' --> class="active"<!-- ENDIF -->><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" ><span>{L_MEMBERLIST}</span></a></li><!-- ENDIF -->
									<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li<!-- IF S_REGISTRATION --> class="active"<!-- ENDIF -->><a href="{U_REGISTER}" ><span>{L_REGISTER}</span></a></li><!-- ENDIF -->
									<li<!-- IF S_DISPLAY_FULL_LOGIN --> class="active"<!-- ENDIF -->><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="l" ><span>{L_LOGIN_LOGOUT}</span></a></li>
								<!-- ENDIF -->
							</ul>
						</div>
					</div>
				</div>
			<!-- ENDIF -->
			
			<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
			    <div class="rt-block">
				    <div class="module-surround">
					    <div class="module-title"><h2 class="title">{L_LOGIN}</h2></div>
						<div class="module-content">
						    <form method="post" action="{S_LOGIN_ACTION}" id="form-login">
							    <fieldset class="input">
								    <p id="form-login-username">
									    <label for="username">{L_USERNAME}</label><br />
										<input type="text" name="username" id="username" class="inputbox" value="{L_USERNAME}" alt="{L_USERNAME}" onblur="if(this.value=='') this.value='{L_USERNAME}';" onfocus="if(this.value=='{L_USERNAME}') this.value='';" />
									</p>
									<p id="form-login-password">
									    <label for="password">{L_PASSWORD}</label><br />
										<input type="password" name="password" id="password"  class="inputbox" alt="{L_PASSWORD}" onblur="if(this.value=='') this.value='{L_PASSWORD}';" onfocus="if(this.value=='{L_PASSWORD}') this.value='';" />
									</p>
									<!-- IF S_AUTOLOGIN_ENABLED -->
									    <p id="form-login-remember">
										    <input type="checkbox" name="autologin" id="autologin" class="checkbox" value="yes" alt="{L_LOG_ME_IN}" />
											<label class="remember">{L_LOG_ME_IN}</label>
										</p>
									<!-- ENDIF -->
									<div class="readon">
									    {S_LOGIN_REDIRECT}
										<input type="submit" name="login" class="button" value="{L_LOGIN}" />
									</div>
									<div class="clr"></div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			<!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->

<div class="clear"></div> 
</div></div></div>
 
<!-- IF $ENABLE_QUASAR_BOTTOM_MODULES -->
    <div id="rt-bottomtab">
	    <div class="rt-container">
		    <div class="clear"></div>
		    <div class="rt-block"><div class="bottomtab"><span class="bottomtab2">{SITENAME}</span></div></div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="rt-bottom">
	    <div class="rt-container">
		    <!-- IF S_DISPLAY_ONLINE_LIST -->
			    <div class="rt-grid-4 rt-alpha">
				    <div class="rt-block">
					    <div class="module-content">
						    <div class="module-title"><div class="module-title2"><!-- IF U_VIEWONLINE --><h2 class="title"><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h2><!-- ELSE --><h2 class="title">{L_WHO_IS_ONLINE}</h2><!-- ENDIF --></div></div> 
							<div class="module-inner">
							    <div class="module-inner2">
								    {TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
									<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF -->
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- ENDIF -->
			<div class="rt-grid-4">
			    <div class="rt-block">
				    <div class="module-content">
					    <div class="module-title"><div class="module-title2"><h2 class="title">{L_BIRTHDAYS}</h2></div></div>
						<div class="module-inner"><div class="module-inner2"><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></div></div>
					</div>
				</div>
			</div>
			<!-- IF NEWEST_USER -->
			    <div class="rt-grid-4">
				    <div class="rt-block">
					    <div class="module-content">
						    <div class="module-title"><div class="module-title2"><h2 class="title">{L_STATISTICS}</h2></div></div>
							<div class="module-inner"><div class="module-inner2">{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</div></div>
						</div>
					</div>
				</div>
			<!-- ENDIF -->
			<div class="clear"></div>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF $ENABLE_QUASAR_FOOTER_MODULES -->
    <div id="rt-footer"><div id="rt-footer2">
	    <div class="rt-container">
		    <!-- IF S_DISPLAY_ONLINE_LIST -->
			    <div class="rt-grid-4 rt-alpha">
				    <div class="rt-block">
					    <div class="module-content">
						    <div class="module-title"><!-- IF U_VIEWONLINE --><h2 class="title"><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h2><!-- ELSE --><h2 class="title">{L_WHO_IS_ONLINE}</h2><!-- ENDIF --></div>
							<div class="module-inner">
							    <div class="module-inner2">
								    {TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
									<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF -->
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- ENDIF -->
			<div class="rt-grid-4">
			    <div class="rt-block">
				    <div class="module-content">
					    <div class="module-title"><h2 class="title">{L_BIRTHDAYS}</h2></div>
						<div class="module-inner">
						    <div class="module-inner2">
							    <!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- IF NEWEST_USER -->
			    <div class="rt-grid-4">
				    <div class="rt-block">
					    <div class="module-content">
						    <div class="module-title"><h2 class="title">{L_STATISTICS}</h2></div>
							<div class="module-inner">
							    <div class="module-inner2">
								    {TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- ENDIF -->
			<div class="clear"></div>
		</div>
	</div></div>
<!-- ENDIF -->

<div id="rt-copyright">
    <div class="rt-container">
	    <div class="rt-grid-12 rt-alpha rt-omega">
		    <div class="clear"></div>
			<!-- IF $SHOW_QUASAR_COPYRIGHT -->
			    <div class="rt-block">
				    <div id="powered-by">Designed By <a href="http://www.rockettheme.com/" title="rockettheme.com" id="rocket"></a></div>
					<div class="clear"></div>
				</div>
			<!-- ENDIF -->
			<!-- IF $SHOW_QUASAR_TOTOP_SCROLLER -->
			    <a href="#" id="gantry-totop"><span>{L_BACK_TO_TOP}</span></a>
			<!-- ENDIF -->
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>

</body>
</html>