<div class="usercomment">
	<div class="usercommentheader">
		<div class="ucwho">&nbsp;<a href="{baseUrl}forums/memberlist.php?mode=viewprofile&u={userId}">{username}</a> - {date}</div>
		<!--<div class="ucreport">
			<a href="/com/report/87560"><img src="/pages/messages/msys/images/flag.png" alt="Report this post" border="0" /></a>
		</div>-->
	</div>

	<div class="usercommentbody">
		<div class="usercommentavatar">
			<img src="http://en.gravatar.com/userimage/18681476/ea0b7f6355868dfe38b339adb99c549a.png" title="Avatar" alt="Avatar" height="70" width="70" align="top" />
		</div>
		<p class="usercommentbody" align="left">{body}</p>
	</div>
</div>
<br />
