<form method="POST" action="{baseUrl}admin/navigation/save/{hash}">
	<b>Type: </b> <input type="radio" name="type" value=0{checked0} /> Header&nbsp;&nbsp;<input type="radio" name="type" value=1{checked1} /> Link<br />
	<b>Name: </b> <input type="text" name="name" value="{name}" /><br />
	<b>Location: </b> <input type="text" name="location" value="{location}" /> (do not fill out if header)<br />
	<b>Access: </b><br />
	<select name="access[]" multiple="multiple">
{groups}
	</select><br />
	<b>Score: </b> <input type="text" name="score" value="{score}" /><br />
	<input type="submit" name="submit" value="Save" />&nbsp;&nbsp;<a href="{baseUrl}admin/navigation">Cancel</a>
